@model Shop.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<br />
<br />


<div class="row">

    <div class="col-lg-4 col-md-2 col-sm-1"></div>


    <div class="col-12 text-center" id="loadingDiv">
        <div>
            <br /><br /><br />
            <img src="~/Images/loading-gif.gif" width="100" id="loadingGif" />
        </div>
    </div>


    <div class="col-lg-4 col-md-8 col-sm-10 card" style="padding:0px;margin-top:15px;overflow:hidden;">

        <div class="card-header box-shadow bg-warning">
            <h1 class="text-center"><i class="fa fa-user" aria-hidden="true"></i> Login</h1>
        </div>

        <br />

        <div style="margin-left:25px;margin-right:25px;">
            <form asp-controller="Account" asp-action="Login" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                </div>

                <div class="form-group text-center">
                    <label asp-for="RememberMe" class="form-check-label"></label>
                    <input asp-for="RememberMe" class="form-check-input" />
                </div>

                <div class="form-group">
                    <input class="btn btn-primary form-control" type="submit" value="Login" style="width:100%" />
                </div>
            </form>
        </div>

        <small class="text-center"><a asp-controller="Account" asp-action="Register" class="text-center">Dont have account yet ?</a></small>

        <br />

    </div>

    <div class="col-lg-4 col-md-2 col-sm-1"></div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $(".card").hide();

        setTimeout(function () {
            $("#loadingDiv").hide();
            $(".card").show();
        }, 750);


    })

</script>