@model Shop.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<br />
<br />

<div class="row">

    <div class="col-4"></div>

    <div class="col-4 card">

        <br />

        <h1 class="text-center"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</h1>
        <hr />
        <br />

        <form asp-controller="Account" asp-action="Register" method="post">
            <table>
                <tr>
                    <td><label asp-for="UserName"></label></td>
                    <td><input asp-for="UserName" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td><input asp-for="Password" /></td>
                </tr>
                <tr>
                    <td><label asp-for="ConfirmPassword"></label></td>
                    <td><input asp-for="ConfirmPassword" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Email"></label></td>
                    <td><input asp-for="Email" /></td>
                </tr>
                <tr>
                    <td><label asp-for="FullName"></label></td>
                    <td><input asp-for="FullName" /></td>
                </tr>
                <tr>
                    <td><label asp-for="BirthDate"></label></td>
                    <td><input asp-for="BirthDate" /></td>
                </tr>
                <tr>
                    <td colspan="2"><br /><input class="btn btn-primary" type="submit" value="Register" /></td>
                </tr>
            </table>
            <div asp-validation-summary="All"></div>
        </form>

        <br />

    </div>

    <div class="col-4"></div>

</div>

