@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="par"></p>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    //$.ajax('https://localhost:44370/api/countries/11',
    //    {
    //        type: 'GET'
    //        dataType: 'application/json', // type of response data
    //        timeout: 5000,     // timeout milliseconds
    //        success: function (data, status, xhr) {   // success callback function
    //            $('#par').append(data.name + ' ' + data.capital + ' ' + data.region);
    //        },
    //        error: function (jqXhr, textStatus, errorMessage) { // error callback 
    //            $('#par').append('Error: ' + errorMessage);
    //        }
    //    });
</script>