

@{
    ViewBag.Title = "Payment";
}

      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <br />
                  <form>

                      <h1 class="text-center">Payment Form</h1>

                      <br /><br />

                      <div class="form-group">
                          <label for="First Name">Full Name</label>
                          <input type="text" class="form-control" placeholder="Enter Full Name">
                      </div>

                      <div class="form-group">
                          <label for="Phone">Email</label>
                          <input type="email" class="form-control" placeholder="Enter Email">
                      </div>

                      <div class="form-group">
                          <label for="Phone Number">Phone Number</label>
                          <input type="text" class="form-control" placeholder="Enter Phone Number">
                      </div>


                      <div class="form-group">
                          <label for="Address">Address</label>
                          <input type="number" class="form-control" placeholder="Enter Number"><br />
                          <input type="text" class="form-control" placeholder="Enter Street Name"><br />
                          <input type="text" class="form-control" placeholder="Enter City"><br />
                          <input type="number" class="form-control" placeholder="Enter Postal Code"><br />
                          <input type="text" class="form-control" placeholder="Enter Country"><br />
                      </div>

                      <div class="form-group text-center">
                          <label for="Address">Select Payment Type</label>
                          <br />
                          Pay Online  <input type="radio" name="name" value="Pay Online" />
                          Pay At The Door  <input type="radio" name="name" value="Pay At The Door" />
                      </div>

                      <div>
                          @{
                              var total = 0;
                              foreach (var item in (List<ShoppingApp.Data.Models.Product>)Session["cart"])
                              {
                                  total += Convert.ToInt32(item.Price);
                              }

                              <h4 class="text-center">Grand Total <b>@total $</b></h4>
                          }


                      </div>


                      <div class="text-center">
                          <br /><br />
                          <button type="submit" class="inpField2" style="background-color:orange;">Pay</button>
                      </div>

                  </form>

              </div>
              <div class="col-md-2"></div>
          </div>
      </div>