
@{
    ViewData["Title"] = "Index";
}


<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h1 class="text-dark">Country List</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-warning border-dark text-dark"><i class="fas fa-plus"></i> &nbsp; Add New Country</a>
        </div>
    </div>
    <br />
    <br />
    <div>
        <table id="myTable" class="table table-striped" style="width:100%">
            <thead class="bg-dark text-warning">
                <tr>
                    <th>Name</th>
                    <th>Capital</th>
                    <th>Region</th>
                    <th>Area</th>
                    <th>Population</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/countries.js"></script>
}