
@{
    ViewData["Title"] = "ContactUs";
}

<h1 class="text-center">Contact Us</h1>

<hr />




<br />

<a asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

<br />