
@{
    ViewData["Title"] = "ContactUs";
}

<div class="row">


    <div class="col-12 card">


        <div class="text-center" id="loadingDiv">
            <br /><br /><br /><br /><br /><br /><br />
            <div class="row" style="justify-content: center">
                <img src="~/Images/loading-gif.gif" width="100" id="loadingGif" />
            </div>
            <br /><br /><br /><br /><br /><br /><br />
        </div>

        <div class="contactDiv">
            <br />

            <h1 class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</h1>

            <hr />

            <br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>

    </div>


</div>

<br />

<div class="text-center">
    <a asp-controller="Home" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">$(document).ready(function () {

    $(".contactDiv").hide();

        setTimeout(function () {
            $("#loadingDiv").hide();
            $(".contactDiv").show();
        }, 750);


    })</script>