
@{ ViewData["Title"] = "Checkout Complete"; }





<br />

<h1 class="text-center">Order Accepted</h1>

<br />

<h5 class="text-center">
    <a href="/Order/myOrder">Checkout your order details!</a>
</h5>