.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 35px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 0px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 35px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 150px;
    transition: width 0.3s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    margin-right: -3px;
    margin-top: -3px;
    background-color: transparent;
    border: 0px;
    text-decoration: none;
}

[type=button], [type=reset], [type=submit], button {
    overflow: hidden;
    height: 40px;
}

img {
    vertical-align: top;
    border-style: none;
    border-radius: 10px 10px 0px 0px;
}

.responsiveImg {
    width: 100%;
    height: auto;
}

.dropdown-toggle {
    white-space: inherit;
    margin-bottom: 0px;
}

[type=button], [type=reset], [type=submit], button {
    overflow: hidden;
    height: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
    font-weight:600;
}

button, input {
    overflow: visible;
    width: 250px;
}

nav .show > .nav-link {
    color: rgba(0,0,0,.9);
padding:5px;
}

.nav-link {
    display: block;
    padding: 5px;
}

a .navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0,0,0,.9);
    padding-top: 0px;
    padding-bottom: 0px;
}





.dropdown-menu {
    position: absolute;
    top: 110%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 150px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightgray;
    border-radius: .25rem;
}
    .dropdown-menu.show {
        display: block;
        font-size: 16px;
    }

.page-link {
    position: relative;
    display: block;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.25;
    color: #343a40;
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px 0px lightgray;
}

    .page-link:hover {
        z-index: 2;
        color: #343a40;
        text-decoration: none;
        background-color: #ffc107;
        border-color: lightgray;
    }

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px 0px lightgray;
    border: 1px solid lightgray;
}

.cartButton {
    overflow: visible;
    width: 35px;
    background-color: transparent;
    border: none;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #343a40;
    background-color: #fff;
    border: 1px solid lightgray;
    font-weight:500;
}

.page-item.active .page-link {
    z-index: 1;
    color: #343a40;
    background-color: #ffc107;
    border-color: lightgray;
    font-weight: 500;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
    font-size: medium;
}

.badge {
    display: inline-block;
    padding: 5px 5px;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #343a40;
}
    a:hover {
        color: #343a40;
        text-decoration: none;
    }

.btn-primary {
    color: #343a40;
    background-color: #ffc107;
    border-color: #343a40;
    font-weight: 600;
    box-shadow: 2px 2px 10px 0px lightgray;
    height: 38px;
}

    .btn-primary:hover {
        color: #343a40;
        background-color: #ffc107;
        border-color: #343a40;
        box-shadow: 2px 2px 10px 0px lightgray;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #343a40;
        background-color: #FFA500;
        border-color: #343a40;
    }

.btn-danger {
    color: whitesmoke;
    background-color: #dc3545;
    border-color: #343a40;
    box-shadow: 2px 2px 10px 0px lightgray;
}

.btn {
    width: 100%;
    height: 38px;
}

.inpField {
    width: 85%;
    height: 33px;
    border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 75%;
    max-width: 75%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 2px 2px 10px 0px lightgray;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 3.5;
    color: #212529;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px 0px lightgray;
}

.glass {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    cursor: none;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}

dl{
    padding-left:40px;
    padding-right:40px;
}

.form-check-input {
    position: absolute;
    margin-top: 7px;
    margin-left: -110px;
}

.navbar-light .navbar-toggler {
    color: #343a40;
    border-color: #343a40;
    width: 50px;
}

.navbar-toggler-icon {
    display: table-cell;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: auto;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.table td, .table th {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid lightgray;
}

#filterDiv {
    position: sticky;
    top: 81px;
    height: 463px;
}

.orderInfo {
    padding: 7px;
}


@media (max-width: 768px) {
        #filterDiv {
        position: initial;
        overflow:visible;
    }
}

@media (min-width: 768px) {
    #hideBtn {
        display: none;
    }

    #showBtn {
        display: none;
    }

    #filterDiv {
        display:flex;
    }
}

@media (max-width: 605px) {
    .card {
        margin-left:40px;
        margin-right:40px;
    }
    .dropdown-menu {
        position: absolute;
        top: auto;
        left: auto;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 100px;
        padding: 10px 20px;
        margin: 35px 25px 10px;
        font-size: 16px;
        color: #343a40;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 2px 2px 10px 0px lightgray;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
        .dropdown-menu.show {
            display: table-cell;
            margin-top: 10px;
            margin-left: -10px;
        }

    .navbar-nav .dropdown-menu {
        position:absolute;
        float: none;
    }
}

@media (max-width: 1200px) {
    .navMenuItem {
        display: none;
    }
    .card{
        height:96%;
    }
    h5{
        font-size:16px;
    }

    html{
        font-size:16px;
    }
}

@media (max-width: 767px) {
    #filterDiv {
        position: inherit;
        overflow: hidden;
        height: 365px;
        top: -25px;
    }
    .imgDetails {
        width: 100%;
    }
    dl {
        padding-left: 5px;
        padding-right: 5px;
    }
    body{
        background-color:whitesmoke;
    }
    #hideBtn {
        margin-top:-30px;
    }
    #showBtn{
        width:99%;
        margin-bottom:10px;
        margin-top:-40px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
    #filterDiv {
        height: 378px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    #filterDiv {
        height: 390px;
    }
}

@media (max-width: 575px) {
    .navMenuItem {
        display: contents;
    }
    .search_input {
        padding: 0px 0px;
    }
    .d-flex {
        margin-top: 10px;
    }
}

@media (max-width: 604px) {
    #hideBtn {
        margin-top: -45px;
        width: 84%;
    }

    #showBtn {
        width: 84%;
        margin-bottom: 10px;
        margin-top: -40px;
    }
}